.App {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;

  .app-title {
    margin-top: 90px;
    color: white;
    font-size: 60px;
    font-weight: 600;
  }

  .app-subtitle1 {
    color: white;
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 15px;
  }

  .app-subtitle2 {
    color: white;
    font-size: 30px;
    font-weight: 400;
    margin-top: 0px;
    margin-bottom: 70px;
  }
}
