$dark-grey: rgba(0, 0, 0, 0.815);
$light-grey: rgba(10, 10, 10, 0.054);
$medium-grey: rgba(10, 10, 10, 0.308);

.suggestion {
  cursor: pointer;
  border: 1px;
}

.searchInputs {
  display: flex;
}

.search input {
  background-color: white;
  border: 0;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  font-size: 18px;
  padding: 15px;
  height: 30px;
  width: 300px;
  color: $dark-grey;
}

.searchIcon {
  height: 60px;
  width: 50px;
  background-color: white;
  display: grid;
  place-items: center;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  color: $medium-grey;
}

input:focus {
  outline: none;
}
.searchIcon svg {
  font-size: 35px;
}

.dataResult {
  margin-top: 0px;
  width: 380px;
  height: 200px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  overflow: hidden;
  overflow-y: auto;
  border-radius: 10px;
  position: absolute;
}

.dataResult::-webkit-scrollbar {
  width: 10px;
}

.dataResult::-webkit-scrollbar-track {
  border-radius: 100px;
  background-color: white;
}

.dataResult::-webkit-scrollbar-thumb {
  min-height: 50px;
  border-radius: 100px;
  background-color: lightgray;
}
.dataResult .dataItem {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  color: $dark-grey;
  text-align: left;
  cursor: pointer;
}

.dataItem p {
  margin-left: 10px;
}

.dataItem:hover {
  background-color: $light-grey;
}

#clearBtn {
  cursor: pointer;
}

@media (max-width: 900px) {
  .search input {
    height: 30px;
    width: 260px;
    font-size: 16px;
  }

  .searchIcon svg {
    font-size: 30px;
  }
  .dataResult {
    width: 340px;
    font-size: 15px;
  }
}
